In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("/home/subhash/8th Sem/major project/dataset/KDDTrain+.csv")

In [3]:
data.shape

(125973, 42)

In [4]:
data.columns

Index(['duration', 'protocol_type', 'service', 'flag', 'src_bytes',
       'dst_bytes', 'land', 'wrong_fragment', 'urgent', 'hot',
       'num_failed_logins', 'logged_in', 'num_compromised', 'root_shell',
       'su_attempted', 'num_root', 'num_file_creations', 'num_shells',
       'num_access_files', 'num_outbound_cmds', 'is_host_login',
       'is_guest_login', 'count', 'srv_count', 'serror_rate',
       'srv_serror_rate', 'rerror_rate', 'srv_rerror_rate', 'same_srv_rate',
       'diff_srv_rate', 'srv_diff_host_rate', 'dst_host_count',
       'dst_host_srv_count', 'dst_host_same_srv_rate',
       'dst_host_diff_srv_rate', 'dst_host_same_src_port_rate',
       'dst_host_srv_diff_host_rate', 'dst_host_serror_rate',
       'dst_host_srv_serror_rate', 'dst_host_rerror_rate',
       'dst_host_srv_rerror_rate', 'class'],
      dtype='object')

In [5]:
data.head()

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,...,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,class
0,0,tcp,ftp_data,SF,491,0,0,0,0,0,...,25,0.17,0.03,0.17,0.00,0.00,0.00,0.05,0.00,normal
1,0,udp,other,SF,146,0,0,0,0,0,...,1,0.00,0.60,0.88,0.00,0.00,0.00,0.00,0.00,normal
2,0,tcp,private,S0,0,0,0,0,0,0,...,26,0.10,0.05,0.00,0.00,1.00,1.00,0.00,0.00,anomaly
3,0,tcp,http,SF,232,8153,0,0,0,0,...,255,1.00,0.00,0.03,0.04,0.03,0.01,0.00,0.01,normal
4,0,tcp,http,SF,199,420,0,0,0,0,...,255,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,normal

In [6]:
print(data['class'].value_counts())

normal     67343
anomaly    58630
Name: class, dtype: int64

In [7]:
for col_name in data.columns:
    if data[col_name].dtype == 'object':
        unique_cat = len(data[col_name].unique())
        print('Feature {col_name} has {unique_cat} categories'.format(col_name=col_name,unique_cat=unique_cat))

print('\nCategories in service\n')
print(data['service'].value_counts().head())

Feature protocol_type has 3 categories
Feature service has 70 categories
Feature flag has 11 categories
Feature class has 2 categories

Categories in service

http        40338
private     21853
domain_u     9043
smtp         7313
ftp_data     6860
Name: service, dtype: int64

# LabelEncoder

In [8]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [9]:
categorical_columns = ['protocol_type','service','flag']
data_categorical_values = data[categorical_columns]
data_categorical_values.head()

data_categorical_values_enc = data_categorical_values.apply(LabelEncoder().fit_transform)
data_categorical_values_enc.head()

   protocol_type  service  flag
0              1       20     9
1              2       44     9
2              1       49     5
3              1       24     9
4              1       24     9

# OneHotEncoder

In [10]:
unique_protocol = sorted(data.protocol_type.unique())
string1 = 'Protocol_type_'
unique_protocol2 = [string1 + x for x in unique_protocol]

unique_service = sorted(data.service.unique())
string1 = 'Protocol_service_'
unique_service2 = [string1 + x for x in unique_service]

unique_flag = sorted(data.flag.unique())
string1 = 'flag_'
unique_flag2 = [string1 + x for x in unique_flag]

dumcols = unique_protocol2 + unique_service2 + unique_flag2
print(dumcols)

['Protocol_type_icmp', 'Protocol_type_tcp', 'Protocol_type_udp', 'Protocol_service_IRC', 'Protocol_service_X11', 'Protocol_service_Z39_50', 'Protocol_service_aol', 'Protocol_service_auth', 'Protocol_service_bgp', 'Protocol_service_courier', 'Protocol_service_csnet_ns', 'Protocol_service_ctf', 'Protocol_service_daytime', 'Protocol_service_discard', 'Protocol_service_domain', 'Protocol_service_domain_u', 'Protocol_service_echo', 'Protocol_service_eco_i', 'Protocol_service_ecr_i', 'Protocol_service_efs', 'Protocol_service_exec', 'Protocol_service_finger', 'Protocol_service_ftp', 'Protocol_service_ftp_data', 'Protocol_service_gopher', 'Protocol_service_harvest', 'Protocol_service_hostnames', 'Protocol_service_http', 'Protocol_service_http_2784', 'Protocol_service_http_443', 'Protocol_service_http_8001', 'Protocol_service_imap4', 'Protocol_service_iso_tsap', 'Protocol_service_klogin', 'Protocol_service_kshell', 'Protocol_service_ldap', 'Protocol_service_link', 'Protocol_service_login', 'Protocol_service_mtp', 'Protocol_service_name', 'Protocol_service_netbios_dgm', 'Protocol_service_netbios_ns', 'Protocol_service_netbios_ssn', 'Protocol_service_netstat', 'Protocol_service_nnsp', 'Protocol_service_nntp', 'Protocol_service_ntp_u', 'Protocol_service_other', 'Protocol_service_pm_dump', 'Protocol_service_pop_2', 'Protocol_service_pop_3', 'Protocol_service_printer', 'Protocol_service_private', 'Protocol_service_red_i', 'Protocol_service_remote_job', 'Protocol_service_rje', 'Protocol_service_shell', 'Protocol_service_smtp', 'Protocol_service_sql_net', 'Protocol_service_ssh', 'Protocol_service_sunrpc', 'Protocol_service_supdup', 'Protocol_service_systat', 'Protocol_service_telnet', 'Protocol_service_tftp_u', 'Protocol_service_tim_i', 'Protocol_service_time', 'Protocol_service_urh_i', 'Protocol_service_urp_i', 'Protocol_service_uucp', 'Protocol_service_uucp_path', 'Protocol_service_vmnet', 'Protocol_service_whois', 'flag_OTH', 'flag_REJ', 'flag_RSTO', 'flag_RSTOS0', 'flag_RSTR', 'flag_S0', 'flag_S1', 'flag_S2', 'flag_S3', 'flag_SF', 'flag_SH']

In [11]:
enc = OneHotEncoder()
data_categorical_values_encenc = enc.fit_transform(data_categorical_values_enc)
data_cat_data = pd.DataFrame(data_categorical_values_encenc.toarray(),columns=dumcols)
data_cat_data.head()

/home/subhash/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

,Protocol_type_icmp,Protocol_type_tcp,Protocol_type_udp,Protocol_service_IRC,Protocol_service_X11,Protocol_service_Z39_50,Protocol_service_aol,Protocol_service_auth,Protocol_service_bgp,Protocol_service_courier,...,flag_REJ,flag_RSTO,flag_RSTOS0,flag_RSTR,flag_S0,flag_S1,flag_S2,flag_S3,flag_SF,flag_SH
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [12]:
newdata = data.join(data_cat_data)
newdata.drop('protocol_type',axis=1,inplace=True)
newdata.drop('service',axis=1,inplace=True)
newdata.drop('flag',axis=1,inplace=True)
print(newdata.shape)

(125973, 123)

In [13]:
newdata.head()

,duration,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,num_failed_logins,logged_in,num_compromised,...,flag_REJ,flag_RSTO,flag_RSTOS0,flag_RSTR,flag_S0,flag_S1,flag_S2,flag_S3,flag_SF,flag_SH
0,0,491,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0,146,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0,232,8153,0,0,0,0,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0,199,420,0,0,0,0,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [14]:
newdata["class"].iloc[-5:,].head()

125968    anomaly
125969     normal
125970     normal
125971    anomaly
125972     normal
Name: class, dtype: object

In [15]:
classdf = newdata["class"]
newclassdf = classdf.replace({'normal': 0 , 'anomaly' : 1})
newdata["class"] = newclassdf
# values = ["class"]
# col = newdata[values]
# class_values_enc = col.apply(LabelEncoder().fit_transform)

In [16]:
newdata["class"].head()

0    0
1    0
2    1
3    0
4    0
Name: class, dtype: int64

In [17]:
newdata["class"].iloc[-5:,].head()

125968    1
125969    0
125970    0
125971    1
125972    0
Name: class, dtype: int64

# Feature Scaling

In [45]:
X_data = newdata.drop("class",axis=1)
y_data = newdata["class"]
colNames=list(X_data)
X_data = X_data[:].values

In [46]:
from sklearn.preprocessing import StandardScaler

In [47]:
scaler = StandardScaler()

In [48]:
scaler.fit(X_data)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [49]:
X_data = scaler.transform(X_data)

In [50]:
print(X_data.std(axis=0))

[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1.]

# Feature Selection